# Compiled files
*.py[cod]
*.a
*.o
*.so
__pycache__

.ipynb_checkpoints
.coverage


# Packages/installer info
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
distribute-*.tar.gz

nirc2_reduce/to_do.txt
nirc2_reduce/old_tests